<ion-view title="Tab" id="page1">
    <ion-tabs class="tabs-stable tabs-icon-top" id="tab-tabs1">
        <ion-tab title="Map" icon="ion-map" href="#/tab/Map" id="tab-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Route List" icon="ion-ios-list-outline" href="#/tab/routeList" id="tab-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Add Route" icon="ion-camera" href="#/tab/addRoute" id="tab-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>