<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="login-form3" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input3">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button1" class="button button-stable  button-block">Log in</button>

      <a href="#/signup" class="button button-positive  button-block button-clear">Create an account</a>
      <a href="#/tab/routeList" id="login-button2" class="button button-positive  button-block button-clear">Continue as Visitor</a>


    </form>
  </ion-content>
</ion-view>
