<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">


    <div class="spacer" style="height: 40px;"></div>

    <form id="login-form3" class="list">


      <ion-list id="login-list2">
        <label class="item item-input" id="login-input3">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>

      <div class="spacer" style="height: 40px;"></div>

      <button  ng-click="login()" id="login-button1" class="button button-stable  button-block">Log in</button>



    </form>

    <a href="#/signup" class="button button-positive  button-block button-clear">Create an account</a>
    <!-- <a href="#/tab/routeList" id="login-button2" class="button button-positive  button-block button-clear">Continue as Visitor</a> -->
    <a ui-sref="tab.routeList" id="login-button2" class="button button-positive  button-block button-clear">Continue as Visitor</a>

  </ion-content>
</ion-view>






<!-- <form name="loginForm" ng-submit="userLogin()">

  <div class='authErrorContainer' ng-if='loginError'>
    <p ng-bind='loginError'></p>
  </div>

  <md-input-container class="md-block">
    <label>User Name</label>
    <input type="text" required="" name="userName" ng-minlength="6" ng-maxlength="26" ng-model="login.name">
    <div ng-messages="loginForm.userName.$error">
      <div ng-message="required">User Name Required</div>
      <div ng-message="minlength">User Name must be 6 characters long</div>
      <div ng-message="maxlength">User Name must be less than 20 characters long</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label>Password</label>
    <input type="password" required="" name="password" ng-minlength="6" ng-maxlength="26" ng-model="login.password">
    <div ng-messages="loginForm.password.$error">
      <div ng-message="required">Password Required</div>
      <div ng-message="minlength">User Password must be 6 characters long</div>
      <div ng-message="maxlength">User Password must be less than 20 characters long</div>
    </div>
  </md-input-container>

  <p>

    <md-button class="md-raised md-warn md-hue-1" ng-disabled="loginForm.$invalid" type="submit"><span ng-bind='checkValidity(loginForm.$invalid)'></span></md-button>
  </p>

</form> -->
