<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">

    <div class="spacer" style="height: 40px;"></div>

    <form id="login-form3" class="list" name="loginForm" ng-submit="userLogin()">
      <ion-list id="login-list2">

        <label class="item item-input item-floating-label">
          <span class="input-label">User Name</span>
          <input type="text" required="" name="userName" ng-minlength="6" ng-maxlength="26" ng-model="login.name" placeholder="User Name">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" required="" name="password" ng-minlength="6" ng-maxlength="26" ng-model="login.password" placeholder="Password">
        </label>

        <div ng-messages="loginForm.userName.$error">
          <div ng-message="required">* User Name Required</div>
          <div ng-message="minlength">* User Name must be 6 characters long</div>
          <div ng-message="maxlength">* User Name must be less than 20 characters long</div>
        </div>

        <div ng-messages="loginForm.password.$error">
          <div ng-message="required">* Password Required</div>
          <div ng-message="minlength">* User Password must be 6 characters long</div>
          <div ng-message="maxlength">* User Password must be less than 20 characters long</div>
        </div>

        <h3>{{loginError}}</h3>

      </ion-list>

      <div class="spacer" style="height: 40px;"></div>
      <button ng-disabled="loginForm.$invalid" type="submit" id="login-button1" class="button button-stable  button-block">Log in</button>
    </form>

    <a href="#/signup" class="button button-positive  button-block button-clear">Create an account</a>
    <!-- <a href="#/tab/routeList" id="login-button2" class="button button-positive  button-block button-clear">Continue as Visitor</a> -->
    <a ui-sref="tab.routeList" id="login-button2" class="button button-positive  button-block button-clear">Continue as Visitor</a>



  </ion-content>
</ion-view>
