<ion-view title="Signup" id="page6">
    <ion-content padding="true" class="has-header">

        <form id="signup-form4" class="list">
            <ion-list id="signup-list3">
                <label class="item item-input" id="signup-input6">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="signup-input7">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="signup-button3" class="button button-stable  button-block">Sign up</button>
        </form>

    </ion-content>
</ion-view>
