.platform-ios .manual-ios-statusbar-padding{
  padding-top:20px;
}
.manual-remove-top-padding{
  padding-top:0px;
}
.manual-remove-top-padding .scroll{
  padding-top:0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
  margin-left:-10px;
  margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
  border-radius:0px;
  border-left:0px;
  border-right: 0px;
}
